{% extends "master.html" %}
{% load static %}
{% block body %}
<section id="cart_items">
	<div class="container">
		<div class="breadcrumbs">
			<ol class="breadcrumb">
			  <li><a href="{% url "home" %}">Home</a></li>
			  <li class="active">Mr. {{request.user}}'s Order</li>
			</ol>
		</div>
		<div class="table-responsive cart_info">
			<table class="table table-condensed table-hover ">

				<thead>
					<tr class="cart_menu">
						<td class="image">Item Picture</td>
						<td class="description">Item Details</td>
						<td class="price">Price</td>
						<td class="quantity">Quantity</td>
						<td class="total">Total</td>
						<td><a href="{% url 'cart_clear' %}">
							<i class="fa-solid fa-trash-can fa-bounce fa-lg" style="color: #ff0a0a;"></i>
						</a></td>
					</tr>
				</thead>

				<tbody>
					{% for i in order %}
					<tr>
						<td class="cart_product">
							<a href=""><img src="{{i.image}}" style='width:100px' alt=""></a>
						</td>
						<td class="cart_description">
							<h5><a href="">{{i.product}}</a></h5>
							<p>Web ID: </p>
						</td>
						<td class="cart_price">
							<p>{{i.price}} BDT</p>
						</td>
						<td class="cart_quantity">
							<div class="cart_quantity_button">
								<input class="cart_quantity_input " disabled type="text" name="quantity" value="{{i.quantity}}" autocomplete="off" size="2">
							</div>
						</td>
						<td class="cart_total">
							<p class="cart_total_price"> BDT {{i.total}}</p>
						</td>
						<td class="cart_delete">
							<a class="cart_quantity_delete" href=""><i class="fa-solid fa-circle-xmark fa-fade fa-lg" style="color: #ff0000;"></i></a>
						</td>
					</tr>
					{% endfor %}
				</tbody>
				
			</table>
		</div>
	</div>
</section> 
{% endblock body %}